<div class="container mt-3">
    <div div class="container d-flex">
        <div class="card container">
            <div class="card-body" id="pintarAdm">
                

            </div>
        </div>
        <form action="logout" method="post"><input class="btn btn-danger" type="submit" value="LOGOUT"></form>
    </div>

    <a href="admin/actualizarProductos"> Actualizar Productos</a>
    <a href="admin/agregarProductos"> Agregar Productos</a>

    
</div>