<div class="container m-5">
    <form action="login" class="d-flex" method="POST">
        <input class="form-control" type="text" id="nombre" name="username" placeholder="Ingresar Username" >
        <input class="form-control" type="text" id="nombre" name="password" placeholder="Ingresar Password" >
        <input class="btn btn-success" type="submit" value="INGRESAR">
    </form>
</div>