<div class="d-flex justify-content-center">

    <div class="container w-50 m-5">
        <form action="login" class="d-flex flex-column" method="POST">
            <input class="form-control m-1" type="text" id="nombre" name="username" placeholder="Ingresar Username" >
            <input class="form-control m-1" type="text" id="nombre" name="password" placeholder="Ingresar Password" >
            <input class="form-control btn btn-success m-1" type="submit" value="INGRESAR">
        </form>
    </div>
</div>