


<div class="jumbotron d-flex row">
    <h1 style="color: blue">Ingrese Productos</h1>
    <br />
    
    <%  for (const product in allArticles ) { %>

    <form action="/api/productos/<%= allArticles[product]._id %>" method="post" class="col-md-3 control">
        <div class="form-group">
        <label for="title"><b><%= allArticles[product].title %></b></label>
        <input id="title" class="form-control" type="text" name="title" />
        </div>

        <div class="form-group">
        <label for="price"><b><%= allArticles[product].price %></b></label>
        <input
            id="price"
            class="form-control"
            type="number"
            name="price"
        />
        </div>


        <button class="btn btn-success mt-3 mb-5">Enviar</button>
    </form>
    <% } %>

</div>