<div class="wrap-login100 p-t-30 p-b-50">
  <span class="login100-form-title p-b-41"> Account Login </span>
  <form action="register" method="post" class=" pb-3 pt-5">
    <div class="form-group m-1" data-validate="Enter username">
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="User name"
      />
      <span class="focus-input100" data-placeholder=""></span>
    </div>
    <div class="m-1" data-validate="Enter password">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
      />
      <span class="focus-input100" data-placeholder=""></span>
    </div>
    <div class="m-1" data-validate="Enter password">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email"
        />
        <span class="focus-input100" data-placeholder=""></span>
      </div>
    <div class=" m-1">
      <button class="btn btn-success container-fluid" type="submit">Register</button>
    </div>
  </form>
</div>
