<%- include('./partials/encabezado.ejs'); %>

    

    <div class="container">

        <%- include('./partials/userCart.ejs', {userCart, id}) %>
    </div>
    

    
    


<%- include('./partials/pie.ejs'); %>