<%- include('./partials/encabezado.ejs'); %>

    

    <div class="container">

        <%- include('./partials/userCart.ejs', userCart) %>
    </div>
    

    
    


<%- include('./partials/pie.ejs'); %>