<%- include('./partials/encabezado.ejs'); %>

    

    <div class="container">

        <%- include('./partials/register-partial.ejs') %>
    </div>
    

    
    


<%- include('./partials/pie.ejs'); %>